.borders{
    background-color: white;
    border-color: #dcdcdc;
    border-style: solid;
    border-width: 1px;
}

.cityBorder{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

.cityBox{
    border-bottom-style: solid;
    border-color: #dcdcdc;
    border-bottom-width: 1px;
    padding-bottom: 10px;
}

.cityBox2{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #dcdcdc;
    padding-bottom: 10px;
    background-color: white;
    margin: 0px;
}

.cityBox3{
    background-color: white;
    margin: 0px;
    border-color: #dcdcdc;
    padding-bottom: 10px;
}

.cityBoxImg{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 15px;
}

.cityDate{
    padding-left:10px;
}

.cityHead{
    color: rgb(13, 125, 230);
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 10px;
}

.cloudy{
    width: 60px !important;
    margin: 6px;
    margin-left: 10px;
}

/* .col-head{
    
    
} */

.marginP{
    margin: 0px !important;
}