a{
    text-decoration: none;
    color: black;
}

.cards-bot{
    padding-top: 50px;
    padding-bottom: 25px;
}

.colGold{
    color: rgb(184, 165, 61) !important;
}

.header{
    font-family: 'Open Sans', sans-serif;
    font-weight: 999;
    color: white;
}

.Login-btn{
    border-style: solid;
    border-width: 2px;
    background-color: White;
    border-color: black;
    border-width: 1px;
    color: black;
    font-family: 'Open sans', sans-serif;
    margin-top: 5px;
    transition-duration: 0.5s;
    margin-bottom: 5px;
    margin-right: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 999;
}

.Login-btn:hover{
    background-color: rgb(34, 33, 33);
    border-color: white;
    color: white;
    transition-duration: 0.5s;
}

.cog{
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 1s;
}

.cog:hover{
    transform: rotate(20deg);
    transition-duration: 1s;
}

.navbar-redesign{
    background-color: #DCDCDC !important;
}

.dropdown-redesign{
    font-family: 'Open Sans', sans-serif;
}

.head-bg{
    background-image: url('../assets/bg.jpg');
    background-position: -1300px -140px;
    margin: 0px !important;
}

.menu-bg{
    background-color: rgb(34, 33, 33);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(184, 165, 61);
}

.menu-col{
    color: rgb(184, 165, 61);
}

.navBg{
    background-color: rgb(34, 33, 33) !important;
    padding: 0px;
}

@media(max-width:768px){
    .cards-bot{
        padding-top: 25px;
    }
}

@media(max-width:575px)
{
    .news{
        margin-bottom: 5%;
    }
}